includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    fileExtensions:
        - php
    level: 8
    paths:
        - ./src/
        - ./tests/
    ignoreErrors:
            -
                # PHPUnit expects()
                message: '#Call to an undefined method [a-zA-Z0-9\\_]+::expects\(\)#'
                paths:
                    - ./tests/

