includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    fileExtensions:
        - php
    level: 8
    paths:
        - ./src/
        - ./tests/


